@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
  background-color: rgb(94, 2, 2);
  color: chocolate;
}
.hero {
  overflow: hidden;
  position: relative;
  color: chocolate;
  max-width: 100%;
  min-height: 600px;
  margin: 0 auto;
}
.hero-content {
  display: flex;
  min-height: 100dvh;
}
.hero-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
}
.hero-right {
  width: 50%;
  background-image: url("../../Img/bible.svg");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}
#version-select-container {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
#version-select {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: chocolate;
  color: #f0f0f0;
}
#explore-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: chocolate;
  color: #f0f0f0;
  cursor: pointer;
  box-shadow: white 0px 1px 8px -3px;
}
.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px 20px;
  align-items: stretch;
}
.feature {
  flex: 1 1 200px;
  min-height: 200px;
  max-width: 400px;
  background-color: chocolate;
  color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.feature h2 {
  margin-bottom: 15px;
}
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
footer a {
  color: chocolate;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-left {
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    align-items: center;
  }

  .hero-right {
    width: 100%;
    min-height: 300px;
    background-size: contain;
  }

  #version-select-container {
    justify-content: center;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

}
